// app css

$color_success: #2b8a3f;
$color_wrong: #cc4b37;
//$color_background: #666;
$color_background: #fefefe;

body{
  background-color: $color_background;
}

#quiz {
  position: relative;
  .minheight{
    min-height: 335px;
  }
}

.question-image{
  .minheight{
    min-height: 200px;
  }
}

.question-title{
  text-transform: capitalize;
}

.fullheight {
  max-height: 500px;
}

.slide {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background-color: $color_background;
  transition: opacity .5s;
  overflow: visible;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.fadeout{
  opacity: 0;
  max-height: 0;
  transition: all .5s;
}

.form-error{
  margin-top: 1rem;
}

#buttons{
  margin-top: 1rem;
  z-index: 99;
}

.result-slide{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.answers, .user-answer, .correct-answer{
  margin-top: 1rem;
}

.indicator{
  font-style: italic;
}

.correct .indicator{
  color: $color_success;
}

// gold star
.correct .indicator::after{
    content: " \2B50";
    font-style: normal;
}

.incorrect .indicator{
  color: $color_wrong
}

.question{

}

input[type="radio"]{
  margin-bottom: 0;
  position: absolute;
  top:.4rem;
  left: -1.3rem;
}

label{
  position: relative;
  margin-left: 1.3rem;
  margin-bottom: .5rem;
}

.answer-label{
  font-weight: 700;
}

#progress{
  margin-bottom:0;
}

#signature{
  font-style: italic;
}
